#header_title{background-color: #afdfe4;}
#title{width:800px;height:60px;margin-top:20px;font-size: 60px;color:#00ae9d;font-weight: 700;text-align: center;}
#admin{font-size:24px;clear:both;float:right;margin:10px 30px 0px 0px; }
ul{	margin:0px;	padding:0px;list-style: none;}
ul li{border-bottom:1px solid #fff;}
ul li a{display:block;font-size:16px;text-align:center;hight:18px;padding:10px;width:160px;background:#90d7ec;text-decoration: none;}