.index_container{width:1024px;}
.index_info{width:1024px;height:200px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;}
.index_notice{width:300px;height:190px;float:left;margin:2px 0px 0px 8px;background-image:url(../../image/notice.jpg);}
.index_notice p{display:block;width:260px;height:110px;position:relative;top:18px;left:20px;color:#33a3dc;font-weight:900;letter-spacing: 1px;line-height: 25px;}
.index_roll{width:400px;height:200px;float:left;margin:0px 0px 0px 6px;}
#FontScroll{width:400px;height:110px;line-height:30px;overflow:Hidden;padding:5px 0;margin:0px auto;text-align: center;}
#FontScroll .line{text-align:center;width:100%;}
#FontScroll .fontColor a{color:red;font-size: 18px;}
.index_stick{width:296px;height:200px;float:left;margin:0px 0px 0px 6px;}
.index_stick img{width:120px;height:120px;position: relative;right:8px;top: 4px;}
.index_stick img:HOVER{width:100px;height:100px;right:-2px;top: 10px;}
.index_span{display:block;height:40px;margin-top:10px;font-size:24px;text-align: center;color:#cde6c7;font-weight: bolder;}
.index_stick a{cursor: pointer;text-align: center;line-height:100px;color:yellow;}
.stick_circle{width:100px;height:100px; border-radius:50px;float:right;position:relative;right:96px;}
.index_module{width:500px;height:400px;margin-top:5px;margin-left:7px;border: 1px solid #fedcbd;float:left;overflow: hidden;}
.module_title{width:500px;height:30px;background-image:url(../../image/module.jpg);font-weight: 600;line-height: 26px;color:#77ac98;}
.title_left{display:block;float:left;margin-left: 10px;font-size: 22px;}
.title_right{display: block;float: right;margin-right: 15px;color: darkgray;}
.module_content ol li{font-size: 16px;list-style-type:decimal;height:30px;margin:7px 0 0 35px;}
.module_content ol li:hover{font-size:18px;}
.module_content ol li a{cursor: pointer;}
.footer{height:30px;width:1024px;border-top:1px solid gray;text-align: center;position:relative;top:40px;clear:both;}