.visit_personal{height:32px;line-height:31px;color:white;text-indent:12px;letter-spacing:2px;background:url(../../image/reg_title_bg.jpg);}
.visit_container{width:1024px;min-height: 800px;background:#fffef9;border:1px solid #afdfe4;}
.container_left{width:200px;min-height: 800px;float:left;border:1px solid #afdfe4;}
.left_top{height:400px;width:200px;border-bottom:1px solid #afdfe4;}
.left_bottom{min-height: 400px;}
.container_right{width:720px; min-height: 800px;float:right;border-left:1px solid #afdfe4;}